
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f0fa;
    color: #333;
}

h1 {
    text-align: center;

    color: 6a0dad;
    padding: 1rem 0;
    margin: 0;
    font-size: 2rem;
}


#productos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}


#productos div {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#productos div:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}


#productos img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}


#productos h3 {
    font-size: 1.2rem;
    margin: 10px 0;
    color: #6a0dad;
}

#productos h5 {
    font-size: 1rem;
    margin: 5px 0;
    color: #555;
}


#productos button {
    background-color: #6a0dad; 
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#productos button:hover {
    background-color: #8a2be2; 
    transform: scale(1.1);
}
